.table.table-striped thead th {
    border-bottom: 2px solid #dee2e6;
    font-size: 15px;
    padding: .5rem;
    vertical-align: middle;
}

.table.table-striped td {
    padding: .5rem;
    vertical-align: middle;
}