.example-spacer {
    flex: 1 1 auto;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px 15px 5px 0;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
